<% provide(:title, 'Jual Online Berkualitas | Coastline - Goods') %>

<div class="header-promo">
	<div class="container">
		<div class="promo-box">
			<i class="fa fa-rocket"></i>
			<span>Free Shipping</span>
		</div>
		<div class="promo-box">
			<i class="fa fa-money"></i>
			<span>Friendly Prices</span>
		</div>
		<div class="promo-box">
			<i class="fa fa-clock-o"></i>
			<span>Always On Time</span>
		</div>
	</div>
</div>
<br />

<div class="container">
	<div class="col-lg-6 col-md-offset-3">
	<%= image_tag 'tes.jpg', class:"img-responsive" %>
	</div>
</div>

